<h2>Your Reading List</h2>
<div class="book-list" id="bookList">
  {{#each readings as |reading|}}

    {{> reading-list-entry reading=reading}}
    {{!> update-reading-modal reading=reading}}
    {{> remove-reading reading=reading}}

  {{/each}}
</div>
