<h2>Your Reading List</h2>

{{#each books as |book|}}

  <ul class="book-list" data-id="{{book.id}}">
    <li> <h4>Title: {{book.title}}</h4></li>
    {{#if book.description}}
      <li>{{book.description}}</li>
    {{else}}
      <li>No description.</li>
    {{/if}}
  </ul>

{{/each}}
