<h2>Explore Books!</h2>
<div class="book-list" id="bookList">
  {{#each books as |book|}}

    {{> list-entry book=book}}
    {{> update-book-modal book=book}}
    {{> add-reading book=book}}

  {{/each}}
</div>

{{> create-book-modal}}
